.title {
    font-weight: bold;
    color: red;
    font-size: 25px;
    background-color: blue;
    text-align: center;
    display: block;
    margin 16px;
    padding: 16px;
}

.recipes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: red;
    font-size: 15px;
    display: block;
    text-align: center;
}